<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <!-- css files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
    <!-- js files -->
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
</head>
<body>
    <div class="container-fluid">
        {% include 'navbar.html'%}
        <section class="row mt-4">
            <div class="col-md-6 mx-auto">
                <div class="card shadow p-4">
                    <h3>Create Account</h3>
                    <h4 class="text-danger m-2">{{error}}</h4>
                    <h4 class="text-success m-2">{{success}}</h4>
                    <form action="/signup" method="post">

                        <input type="text" name="username" placeholder="Your Name" class="form-control"><br>

                        <input type="email" name="email" placeholder="Your Email" class="form-control"><br>

                        <input type="tel" name="phone" placeholder="Phone +254" class="form-control"><br>

                        <input type="password" name="password1" placeholder="Enter password" class="form-control"><br>

                        <input type="password" name="password2" placeholder="confirm password" class="form-control"><br><br>

                        <input type="submit" value="Sign Up" class="btn btn-info">
                    </form>
                    <br><br>
                    <a href="">Already Have Account? Sign in</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>